<div class="one column row">
  <div class="breaking_changes">
    <h3>$!{input.T.t('manual_update')}</h3><br/>
    <img alt="Package icon" src="img/package.png"/>
    <p>$!{input.T.t('breaking_changes_1')}</p><br/>
    <button id="release_button" class="ui green button">$!{input.T.t('download')}</button>
  </div>
</div>
